[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	email = nad2000@gmail.com
	name = Rad Cirskis
[push]
	default = simple
	followTags = true
[merge]
  tool = meld
[color]
	branch = auto
	diff = auto
	status = auto
[credential]
	helper = cache
[branch]
	autosetupmerge = always
