[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = http://github.com/Lokaltog/powerline
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = http://github.com/klen/python-mode
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim
[submodule ".vim/bundle/tabline.vim"]
	path = .vim/bundle/tabline.vim
	url = http://github.com/mkitt/tabline.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown
[submodule ".vim/bundle/vim-markdown-folding"]
	path = .vim/bundle/vim-markdown-folding
	url = http://github.com/nelstrom/vim-markdown-folding
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline
