.vim/undo
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# automatically added modules via Vundle
.vim/bundle/Zenburn/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

######
tags
*/tags
*.sublime-*
test/repos
test/home
patched-src
local-patch
updated.*
.safe-targets
*~
*.DS_Store
.netrwhist

###
.emacs.d/elpa
.vim/colors/zenburn.vim
.vim/plugged/
*.old
tags.tmp
.session.vim
.vim/black
nohup.out
