#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME

# Fcitx:
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# Right alt to switch Korean/English input
xmodmap -e 'remove mod1 = Alt_R'
xmodmap -e 'keycode 108 = Hangul'
xmodmap -e 'remove control = Control_R'
xmodmap -e 'keycode 105 = Hangul_Hanja'

[ -f /usr/bin/fcitx5 ] && /usr/bin/fcitx5 -d

[ "$PATH" == *"$HOME/bin"* ] || PATH="$HOME/bin:$PATH"

# nitrogen --restore &
# Add to your crontab:
# * * * * * DISPLAY=:0 feh -z --bg-scale  /home/rcir178/.wallpapers
volumeicon &
nm-applet &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
gnome-keyring-daemon --start --components=pkcs11 &
sxhkd -m 1 &
# setxkbmap lv apostrophe &
xset dpms 600 900 1200
xset r rate 350 60
nohup $HOME/dotfiles/bin/dwm_status &>/dev/null &
# See https://github.com/jonls/redshift#faq for more information
# See: https://github.com/jonls/redshift/issues/158#issuecomment-71323623
unclutter &
( sleep 3; xrandr --listmonitors | grep -q HDMI1 ) && xrandr --output HDMI1 --auto --left-of eDP1
# ( xrandr --listmonitors | grep -q HDMI-A-0 ) && xrandr --output HDMI-A-0 --auto --left-of eDP
( xrandr --listmonitors | grep -q HDMI-A-0 ) && xrandr --output HDMI-A-0 --auto --right-of eDP
DISPLAY=:0 feh -z --bg-scale $HOME/.wallpapers &
redshift -l -36.87:174.74 -b 1.0:0.8 &
( sleep 3; $HOME/dotfiles/services.sh ) &
( sleep 1; $BROWSER & sleep 1; st tmux ) &
